In [1]:
import pickle
import pandas as pd

In [17]:
file_name_r1 = "../Human Experiments/Data/RL_trajectories_60_250.pickle"
file_obj_r1 = open(file_name_r1, 'rb')
trajectories_1 = pickle.load(file_obj_r1)
trajectories_1 = [list(ele) for ele in trajectories_1]

file_name_r2 = "../Human Experiments/Data/RL_trajectories_60_500.pickle"
file_obj_r2 = open(file_name_r2, 'rb')
trajectories_2 = pickle.load(file_obj_r2)
trajectories_2 = [list(ele) for ele in trajectories_2]

In [18]:
data_1 = []
for idxt, trajectory in enumerate(trajectories_1):
    min_price_index = trajectory.index(min(trajectory))
    trajectory_number = idxt
    route = 1
    for idxd, day in enumerate(trajectory):
        if(idxd <= min_price_index): 
            
            days_left = len(trajectory) - idxd
            price = day
            if(idxd == min_price_index):
                label = 1
            else:
                label = 0
            data_1.append((trajectory_number, days_left, price, route, label))
        else:
            break

In [19]:
data_2 = []
for idxt, trajectory in enumerate(trajectories_2):
    min_price_index = trajectory.index(min(trajectory))
    trajectory_number = idxt
    route = 2
    for idxd, day in enumerate(trajectory):
        if(idxd <= min_price_index): 
            
            days_left = len(trajectory) - idxd
            price = day
            if(idxd == min_price_index):
                label = 1
            else:
                label = 0
            data_2.append((trajectory_number, days_left, price, route, label))
        else:
            break

In [20]:
data_1.extend(data_2)

In [21]:
dataframe_object = pd.DataFrame(data_1, columns = ['trajectory_number','days_left' , 'price' , 'route', 'label'])

In [22]:
Y = dataframe_object.label

In [23]:
dataframe_object = dataframe_object.drop("label", axis=1)

In [24]:
X = dataframe_object

## Decision Tree Classification

In [25]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [43]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [45]:
clf_gini = tree.DecisionTreeClassifier(criterion="gini").fit(X_train, Y_train)
Y_predicted_dt = clf_gini.predict(X_test)
print(clf_gini.score(X_test, Y_test))

0.9126289465457955

In [38]:
predictions = list(clf_gini.predict(X_test))
X_test['label'] = predictions

/home/viveky23/Programs/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [39]:
X_test['true_labels'] = Y_test

/home/viveky23/Programs/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
X_test

        trajectory_number  days_left  price  route  label  true_labels
149650               8662         56  591.0      2      0            0
105986               3240         57  481.0      2      0            0
147941               8452         50  507.0      2      0            0
157971               9744         48  533.0      2      0            0
123999               5483         56  526.0      2      0            0
71554                8940         56  220.0      1      0            0
82118                 262         49  393.0      2      1            1
83706                 471         58  626.0      2      0            0
31631                3936         47  276.0      1      0            0
52967                6625         59  253.0      1      0            0
111726               3948         60  524.0      2      0            0
76537                9570         59  268.0      1      0            0
58486                7302         52  234.0      1      0            0
133465               6672         59  599.0      2      0            0
37774                4706         59  253.0      1      0            0
89022                1159         52  446.0      2      0            0
89460                1213         57  505.0      2      0            0
71726                8965         53  197.0      1      1            0
137294               7144         52  522.0      2      0            0
91014                1414         55  529.0      2      0            0
130249               6271         57  495.0      2      0            0
112132               3997         53  458.0      2      0            0
63121                7879         48  237.0      1      0            0
32175                4000         56  292.0      1      0            0
93137                1662         52  542.0      2      0            0
90460                1340         54  512.0      2      0            0
132320               6533         55  483.0      2      0            0
151080               8844         58  530.0      2      0            0
21248                2659         56  229.0      1      0            0
136124               7004         59  430.0      2      0            0
...                   ...        ...    ...    ...    ...          ...
107191               3385         53  442.0      2      0            0
146084               8225         60  578.0      2      0            0
33909                4228         56  268.0      1      0            0
24552                3078         53  291.0      1      0            0
134227               6766         59  555.0      2      0            0
32958                4101         53  179.0      1      1            1
61794                7707         56  252.0      1      0            0
48007                6020         54  207.0      1      0            1
154552               9305         60  392.0      2      0            1
127236               5887         55  343.0      2      1            1
157864               9728         52  444.0      2      0            0
143787               7954         51  496.0      2      0            0
111480               3919         51  376.0      2      0            1
119543               4911         55  524.0      2      0            0
64673                8077         57  254.0      1      0            0
25563                3195         56  223.0      1      0            0
130893               6357         53  517.0      2      0            0
83828                 487         49  534.0      2      0            0
34501                4295         59  229.0      1      0            0
45368                5688         57  248.0      1      0            0
8318                 1053         57  229.0      1      0            0
104953               3108         60  505.0      2      0            0
101630               2700         49  531.0      2      0            0
77490                9694         60  302.0      1      0            0
67036                8375         57  215.0      1      0            0
3153                  389         60  255.0      1      0            0
44860                5622         56  195.0      1      1            1
49                      7         52  245.0      1      0            0
112624               4064         57  442.0      2      0            0
115482               4412         58  537.0      2      0            0

[143955 rows x 6 columns]