In [158]:
import pickle
import pandas as pd

In [159]:
file_name_r1 = "/Users/sudarshinityagi/PycharmProjects/CCM/ubiquitous-broccoli/Human Experiments/Data/RL_trajectories_250.pickle"
file_obj_r1 = open(file_name_r1, 'rb')
trajectories_1 = pickle.load(file_obj_r1)
trajectories_1 = [list(ele) for ele in trajectories_1]

file_name_r2 = "/Users/sudarshinityagi/PycharmProjects/CCM/ubiquitous-broccoli/Human Experiments/Data/RL_trajectories_500.pickle"
file_obj_r2 = open(file_name_r2, 'rb')
trajectories_2 = pickle.load(file_obj_r2)
trajectories_2 = [list(ele) for ele in trajectories_2]

In [160]:
data_1 = []
for idxt, trajectory in enumerate(trajectories_1):
    min_price_index = trajectory.index(min(trajectory))
    trajectory_number = idxt
    route = 1
    for idxd, day in enumerate(trajectory):
        if(idxd <= min_price_index): 
            
            days_left = len(trajectory) - idxd
            price = day
            if(idxd == min_price_index):
                label = 1
            else:
                label = 0
            data_1.append((trajectory_number, days_left, price, route, label))
        else:
            break

In [161]:
data_2 = []
for idxt, trajectory in enumerate(trajectories_2):
    min_price_index = trajectory.index(min(trajectory))
    trajectory_number = idxt
    route = 2
    for idxd, day in enumerate(trajectory):
        if(idxd <= min_price_index): 
            
            days_left = len(trajectory) - idxd
            price = day
            if(idxd == min_price_index):
                label = 1
            else:
                label = 0
            data_2.append((trajectory_number, days_left, price, route, label))
        else:
            break

In [162]:
data_1.extend(data_2)

In [164]:
dataframe_object = pd.DataFrame(data_1, columns = ['trajectory_number','days_left' , 'price' , 'route', 'label'])

In [165]:
Y = dataframe_object.label

In [166]:
dataframe_object = dataframe_object.drop("label", axis=1)

In [167]:
X = dataframe_object

## Decision Tree Classification

In [168]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [169]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [170]:
clf_gini = tree.DecisionTreeClassifier(criterion="gini").fit(X_train, Y_train)
Y_predicted_dt = clf_gini.predict(X_test)

print(clf_gini.score(X_test, Y_test))

0.8783682400750235

In [172]:
predictions = list(clf_gini.predict(X_test))
X_test['label'] = predictions

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [174]:
X_test['true_labels'] = Y_test

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [175]:
X_test

        trajectory_number  days_left  price  route  label  true_labels
81024                 132         11  483.0      2      0            0
70577                8824         15  285.0      1      0            0
119951               5018         15  621.0      2      0            0
104421               3058         11  559.0      2      0            0
2953                  368         13  293.0      1      0            0
147870               8481          9  498.0      2      0            0
68577                8574         13  202.0      1      1            1
27601                3437         11  165.0      1      1            1
10582                1310         11  246.0      1      0            0
8588                 1064         11  263.0      1      0            0
85950                 772         11  481.0      2      1            0
85448                 702          8  431.0      2      0            0
150483               8817          8  386.0      2      1            0
119288               4933         10  564.0      2      0            0
149014               8630         15  536.0      2      0            0
12209                1518          8  188.0      1      1            1
28355                3528          5  309.0      1      0            0
143810               7964         12  634.0      2      0            0
128386               6054         11  401.0      2      0            0
44703                5598         10  262.0      1      0            0
64648                8073         12  242.0      1      0            0
70064                8766          6  290.0      1      0            0
59393                7431         15  259.0      1      0            0
53707                6694         14  292.0      1      0            0
44616                5586          5  254.0      1      0            0
117841               4753         11  482.0      2      0            0
118405               4828         14  481.0      2      0            0
146205               8264          9  389.0      2      1            1
46921                5860          7  254.0      1      0            0
105219               3164         13  424.0      2      0            1
...                   ...        ...    ...    ...    ...          ...
78696                9836          9  177.0      1      1            1
96890                2134          1  441.0      2      1            1
92657                1590         13  451.0      2      0            0
21463                2678          9  228.0      1      0            0
119463               4952         15  404.0      2      0            1
5828                  727         14  228.0      1      0            0
27275                3392         11  269.0      1      0            0
139777               7473         11  476.0      2      0            0
69402                8676          8  251.0      1      1            0
45574                5697         12  264.0      1      0            0
86097                 793         15  568.0      2      0            0
63022                7871         15  247.0      1      0            0
80928                 119         13  507.0      2      0            0
108050               3519          8  553.0      2      0            0
16658                2075          9  232.0      1      0            0
103673               2961          7  404.0      2      0            0
22034                2754          8  270.0      1      0            0
25988                3232         15  242.0      1      0            0
52571                6555         15  256.0      1      0            0
144978               8113         14  554.0      2      0            0
150014               8757         15  526.0      2      0            0
138760               7343          7  422.0      2      0            1
138654               7332          9  541.0      2      0            0
142464               7808          9  495.0      2      0            0
34289                4282         13  295.0      1      0            0
92077                1515          8  418.0      2      1            1
128074               6013          6  491.0      2      0            0
63390                7917          8  278.0      1      0            0
67784                8471          3  171.0      1      0            1
129931               6243         10  438.0      2      0            0

[31990 rows x 6 columns]